@page "/counter"

<h1>Increment=1 Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}

<h1>Increment=5 Counter</h1>

<p>Current count: @currentCount2</p>

<button class="btn btn-primary" @onclick="IncrementCount2">Click me</button>

@code {
    private int currentCount2 = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount2()
    {
        currentCount2 += IncrementAmount;
    }
}